<table border="1" bgcolor="white" bordercolor="green" width="500" height="100" p align="left">

  <th align="left">Id<p align="center">&emsp;&emsp; &emsp;</th>
  <th align="left">countries<p align="center">&emsp;</th>

  <th align="left">created at<p align="center">&emsp;</th>

  <th align="left">updated at<p align="center">&emsp;</th>





   <%@country.each do|countries| %>


      <tr>
   <td colspan="1" bgcolor=""> <%=countries.id%>  </td>
        <td colspan="1" bgcolor=""> <%=countries.countries%>  </td>

        <td colspan="1" bgcolor=""> <%=countries.created_at%>  </td>
        <td colspan="1" bgcolor=""> <%=countries.updated_at%>  </td>


   </tr>
         <%end%>


    </table>